* { box-sizing: border-box; }

body { 
    margin: 0; 
    font-size: 16px;
    font-family: sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.messages {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messages .message {
    margin: .5rem 0;
    padding: .5rem;
    background: #e0e0e0;
    max-width: 25rem;
    border-radius: .5rem;
}

.messages .message .message__sender {
    margin: .5rem auto;
    font-size: .875rem;
    font-weight: 700;
    color: #484848;
}

.messages .message .message__date {
    font-size: .75rem;
    color: #888888;
}

.messages .message .message__content {
    margin: .75rem auto;
    color: #606060;
    line-height: 130%;
}

.inputs {
    flex: 0;
}

.inputs__group {
    margin: .5rem auto;
}

.inputs__group label, .inputs__group input, .inputs__group textarea {
    display: block;
}

.inputs__group label {
    font-size: .875rem;
    font-weight: 700;
    color: #303030;
}

.inputs__group input, .inputs__group textarea {
    font-size: 16px;
    font-family: sans-serif;
    padding: .125rem;
    width: 90%;
    max-width: 20rem;
    color: #606060;
}

.inputs__group textarea {
    height: 10rem;
    resize: none;
}